/* You can add global styles to this file, and also import other style files */
@import "fonts";

body{
  direction: rtl !important;
  font-family: iranyekan  !important;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: iranyekan !important;
}

.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.ltr, .ReactQueryDevtools{
  direction: ltr;
}
.page-item {
  margin-left: 0.3rem;
}
.page-item .page-link, .page-item.next .page-link, .page-item.previous .page-link {
  color: #a1a5b7;
  height: 2.2rem;
  min-width: 2.2rem;
  font-size: 0.9rem;
}

.page-item.active:hover .page-link {
    color: #ffffff;
}

.table .btn-remove:hover{
  color: #f1416c!important;
  background-color: #fff5f8!important;
  svg{
    color: #f1416c!important;
  }
}

.table {
  &.form-array tbody tr:last-child{
    border-bottom: 1px solid var(--bs-gray-100)!important;
  }
  .btn-add:hover{
    color: #50cd89!important;
    background-color: #e8fff3!important;
    svg{
      color: #50cd89!important;
    }
  }
  .sub-table{
    //background-color: rgba(0, 0, 0, .02);
  }
}
